# Ignorar pastas e arquivos desnecessários
.idea/
.vscode/
bin/
obj/
tests/

*.csproj.user
*.suo
*.log
*.git
*.gitignore
*.editorconfig

*.env
*.DS_Store
*.bak
*.tmp
*.swp
*.sqlite

node_modules/
npm-debug.log*
coverage/
